/**
 * Models for {{ tag.display_name }} operations
 */
import type * as Schemas from '../schemas.js';

{% for operation in operations -%}
{# ============ Request model ============ #}
{% if operation.has_request_model and operation.request_body.content -%}
{% set body_content = operation.request_body.content["application/json"] or operation.request_body.content["multipart/form-data"] -%}
{% if body_content and body_content.schema -%}
/**
 * Request for {{ operation.method_name }}
 *
 * @public
 */
export type {{ operation.class_name }}Request = {{ body_content.schema | ts_type('Schemas.') }};

{% endif -%}
{% endif -%}
{# ============ Response model ============ #}
{% if operation.has_json_response and ("200" in operation.responses or "201" in operation.responses) -%}
{% set response = operation.responses["200"] if "200" in operation.responses else operation.responses["201"] -%}
{% if response and response.content and "application/json" in response.content and response.content["application/json"].schema -%}
/**
 * Response for {{ operation.method_name }}
 *
 * @public
 */
export type {{ operation.class_name }}Response = {{ response.content["application/json"].schema | ts_type('Schemas.') }};

{% endif -%}
{% endif -%}
{% endfor -%}
