"""
{{ tag }} module for the X API.

This module provides access to the {{ tag }} endpoints of the X API.
"""

from .client import {{ tag|pascal_case }}Client

__all__ = ["{{ tag|pascal_case }}Client"] 