"""
{{ tag }} client for the X API.

This module provides a client for interacting with the {{ tag }} endpoints of the X API.
"""

from typing import Dict, List, Optional, Any, Union
import requests
import requests_oauthlib
from ..client import Client


class {{ tag }}Client:
    """Client for {{ tag }} operations"""
    
    def __init__(self, client: Client):
        self.client = client
    
    {% for operation in operations %}
    def {{ operation.operation_id | snake_case }}(self, 
        {% for param in operation.parameters %}
        {% if param.name %}
        {{ param.name | snake_case }}: {% if param.schema and param.schema.type %}{{ param.schema.type | python_type }}{% else %}Any{% endif %}{% if not param.required %} = None{% endif %},
        {% endif %}
        {% endfor %}
        {% if operation.request_body %}
        {% set schema = operation.request_body.schema %}
        body: {% if schema.type == "object" %}Dict[str, Any]
              {% elif schema.type is string %}{{ schema.type | python_type }}
              {% else %}Any{% endif %}
              {% if not operation.request_body.required %} = None{% endif %},
        {% endif %}
    ) -> Dict[str, Any]:
        """
        {{ operation.summary }}
        
        {% if operation.description %}
        {{ operation.description }}
        {% endif %}
        
        {% for param in operation.parameters %}
        {% if param.name %}
        Args:
            {{ param.name | snake_case }}: {% if param.description %}{{ param.description }}{% else %}{{ param.name }}{% endif %}
        {% endif %}
        {% endfor %}
        {% if operation.request_body %}
        {% set schema = operation.request_body.schema %}
            body: {% if schema.description %}{{ schema.description }}{% else %}Request body{% endif %}
        {% endif %}
        
        Returns:
            Dict[str, Any]: Response data
        """
        url = self.client.base_url + "{{ operation.path }}"
        
        # Prepare query parameters
        params = {}
        {% for param in operation.parameters %}
        {% if param.name %}
        {% if param.in == "query" %}
        if {{ param.name | snake_case }} is not None:
            params["{{ param.name }}"] = {{ param.name | snake_case }}
        {% endif %}
        {% endif %}
        {% endfor %}
        
        # Prepare path parameters
        {% for param in operation.parameters %}
        {% if param.name %}
        {% if param.in == "path" %}
        url = url.replace("{{ '{' + param.name + '}' }}", str({{ param.name | snake_case }}))
        {% endif %}
        {% endif %}
        {% endfor %}
        
        # Prepare headers
        headers = {}
        {% for param in operation.parameters %}
        {% if param.name %}
        {% if param.in == "header" %}
        if {{ param.name | snake_case }} is not None:
            headers["{{ param.name }}"] = {{ param.name | snake_case }}
        {% endif %}
        {% endif %}
        {% endfor %}
        {% if operation.request_body %}
        headers["Content-Type"] = "{{ operation.request_body.content_type }}"
        {% endif %}
        
        # Make the request
        response = self.client.session.{{ operation.method }}(
            url,
            params=params,
            headers=headers,
            {% if operation.request_body %}
            json=body,
            {% endif %}
        )
        
        # Check for errors
        response.raise_for_status()
        
        # Return the response data
        return response.json()
    
    {% endfor %} 