"""
{{ tag.display_name }} module for the X API.

This module provides access to the {{ tag.display_name }} endpoints of the X API.
"""

from .client import {{ tag.class_name }}Client

__all__ = ["{{ tag.class_name }}Client"] 